body{
    margin: 0;
}
p{
    padding-bottom: 4%;
}
.header{
    padding-left: 67%;
    padding-top: 2%;
    margin-bottom: 100px;
}
.top-section{
    height: 700px;
    padding-bottom: 250px;
}
.about-section{
    height: 500px;
    padding-bottom: 200px;
}
.about-section h2{
    color: rgba(0, 29, 61, 0.877);
}
.link-button{
    text-decoration: none;
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    padding-right:35px;
}

.linked-button{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(130deg, #13c4f0, #0d92eb);    
    padding: 15px 20px;
    border-radius: 5px;
}
.half-section{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 3%;
}
.half-section img{
    width: 80%;
}
h1{
    font-family: 'Fjalla One', sans-serif;
    font-size: 80px;
    margin: 0;
}
h2{
    font-family: 'Fjalla One', sans-serif;
    font-size: 60px;
    margin: 0;
}
h3{
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
}
h4{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: rgb(45, 169, 252);
    margin: 0;
    margin-top: 2%;
    margin-left: 5%;
}
.lastest-working{
    padding-top: 10%;
    color: rgba(0, 29, 61, 0.877);
    text-align: center;
}
.half-section p{
    color: dimgray;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.hello{
    color: rgba(0, 29, 61, 0.877);
}
.sky-blue-color{
    color: rgb(45, 169, 252);
}
.latest-project{
    background-color: whitesmoke;
    height: 1000px;
    margin-bottom: 100px;
}

.one-third-box-one{
    box-shadow: 5px 5px 40px rgb(226, 226, 226);
    border-radius: 20px;
    height: 50%;
    background-color: white;
    float: left;
    width: 26%;
    margin-left: 8%;
}

.one-third-box-two{
    box-shadow: 5px 5px 40px rgb(226, 226, 226);
    border-radius: 20px;
    height: 50%;
    background-color: white;
    float: left;
    width: 26%;
    margin-left: 3%;
}

.one-third-box-three{
    box-shadow: 5px 5px 20px rgb(207, 207, 207);
    border-radius: 25px;
    height: 50%;
    background-color: white;
    float: left;
    width: 26%;
    margin-left: 3%;
}

.box-image{
    width: 90%;
    margin-top: 4%;
    margin-left: 5%;
}

.box-paragraph{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: rgb(58, 58, 58);
    margin: 0;
    margin-left: 5%;
}

.half-section-for-skills{
    width: 40%;
    float: left;
    margin-left: 6.5%;
}
.skills{
    background-color: whitesmoke;
    height: 500px;
    margin-bottom: 100px;
}
.skills h3{
    padding-top: 4%;
    color: rgba(0, 29, 61, 0.877);
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
    text-align: center;
}
.skills-box-model-left{
    height: auto;
    width: 100%;
    margin-left: 20%;
    margin-bottom: 5%;
    float: right;
    text-align: right;
}
.skills-box-model-left h4{
    font-size: 30px;
    color: rgb(45, 169, 252);
    font-family: 'Crete Round', serif;
    font-weight: 600;
    padding-right: 40px;
    padding-left: 80px;
}
.skills-box-model-right{
    height: auto;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-bottom: 5%;
    }
.skills-box-model-right h4{
    font-size: 30px;   
    color: rgb(45, 169, 252);
    font-family: 'Crete Round', serif;
    font-weight: 600;
    padding-left: 10px;
}
.icons-color{
    color: rgba(14, 39, 87, 0.815);
}
.icon-size{
    width:30px;
}
h4{
    background-position: right;
    display: inline-block;
}
.work-inquiry-section{
    height: 200px;
    margin-bottom: 100px;
}

.inquiry-div{
    background-image: url("images/work_inquiry.png");
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 10px solid green; */
    width: 50%;
    height: 200px;
    margin-left: 28%;
}
.under-inquiry-div{
    padding-top: 7%;
    padding-left: 6%;
}
.chat-button{
    margin-left: 15%;
    margin-top: 10px;
    position: absolute;
}
.inquiry-div h3{
    font-size: 50px;
    margin: 0;
    color: white;
    display: inline-block;
}
footer{
    text-align: center;
}
.stay-connected{
    color: dimgray;
    font-size: 20px;
}
.footer-mail{
    font-size: 30px;
    color: rgba(0, 29, 61, 0.877);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
footer img{
    margin-bottom: 3%;
    padding: 1%;
    width: 3%;
}